* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

nav {
  position: relative;
  background-color: white;
  margin: 1%;
  height: 8vh;
  border-radius: 6px;
}

nav ul li {
  display: inline-block;
  padding-top: 1.2%;
  font-family: "Roboto", sans-serif;
}

#devlinks {
  margin-left: 2%;
  font-weight: bold;
  font-size: 20px;
}

#icon1 {
  border: 2px solid blueviolet;
  background-color: blueviolet;
  color: white;
  /* margin-right: 5px; */
  border-radius: 5px;
  /* margin-right: 1%; */
}

#links {
  margin-left: 15px;
  /* color: rgb(114, 112, 112); */
  padding: 0.6% 1%;
}

div {
  display: inline-block;
  /* border: 1px solid red; */
  margin-left: 30%;
  width: 120px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

div:hover a {
  color: white;
}
div:hover {
  background-color: blueviolet;
  color: blueviolet;
  border-radius: 8px;
  /* padding: 0.6% 1%; */
}

/* #links:hover a{
    color: white;
  } */

/* #links #icon2:hover{
 color: white;
  } */

#links a {
  text-decoration: none;
  /* color: rgb(114, 112, 112); */
}

a {
  text-decoration: none;
}

.div2 {
  display: inline-block;
  width: 150px;
  padding: 10px;
  margin-left: 4%;
}

#icon2 {
  /* border: 1px solid blueviolet; */
  /* color: rgb(114, 112, 112);
  /* margin-left: 5px; */
  margin-right: 4px;
}

#profile {
  margine-left: 6%;
  width: 230px;
}

#preview {
  /* padding-left: 39%; */
  border: 2px solid blueviolet;
  margin-left: 30%;
  border-radius: 6px;
  padding: 0.5% 1.3%;
}

/* ------------------------------------------- */

.left {
  /* border: 2px solid black; */
  position: absolute;
  width: 35%;
  height: 87vh;
  margin-left: 1%;
  border-radius: 6px;
  background-color: white;
  display: inline-block;
}

.phone {
  border: 1px solid gray;
  width: 50%;
  height: 70vh;
  margin: auto;
  margin-top: 8%;
  border-radius: 35px;
  background-color: white;
}

.phone2 {
  border: 1px solid gray;
  width: 95%;
  height: 95%;
  margin: 4% auto;
  border-radius: 35px;
  background-color: white;
}

.photo {
  /* border: 1px solid rgba(128, 128, 128, 0.326); */
  width: 35%;
  height: 20%;
  margin: 10% auto;
  border-radius: 50%;
  background-color: rgba(211, 211, 211, 0.5);
}

.photo2 {
  /* border: 1px solid rgba(128, 128, 128, 0.300); */
  width: 65%;
  height: 3%;
  margin: 10% auto 3%;
  border-radius: 5px;
  background-color: rgba(211, 211, 211, 0.5);
}

.photo3 {
  /* border: 1px solid rgba(128, 128, 128, 0.300); */
  width: 40%;
  height: 2%;
  margin: 4% auto;
  border-radius: 5px;
  background-color: rgba(211, 211, 211, 0.5);
}

.github {
  background-color: rgba(211, 211, 211, 0.868);
  width: 85%;
  height: 8%;
  margin: 10% auto;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding-top: 4%;
  font-size: 12px;
}

#space, #space1, #space2 {
  padding-left: 8%;
}

#arrow {
  padding-left: 56%;
}

#arrow1{
padding-left: 50%;
}

#arrow2{
  padding-left: 51%;
  }


.youtube {
  background-color: red;
  width: 85%;
  height: 8%;
  margin: -4% auto;
  border-radius: 5px;
  color: white;
  padding-top: 4%;
  font-size: 12px;
}

.linkedln {
  background-color: blue;
  width: 85%;
  height: 8%;
  margin: 10% auto;
  border-radius: 5px;
  color: white;
  padding-top: 4%;
  font-size: 12px;
}

.bos {
  background-color: rgba(211, 211, 211, 0.5);
  width: 85%;
  height: 8%;
  margin: -4% auto;
  border-radius: 5px;
  color: white;
  padding-top: 4%;
  font-size: 12px;
}

.bos1 {
  background-color: rgba(211, 211, 211, 0.5);
  width: 85%;
  height: 8%;
  margin: 10% auto;
  border-radius: 5px;
  color: white;
  padding-top: 4%;
  font-size: 12px;
}

main{
  border: 1px solid yellow;
  width: 99%;
  height: 110vh;
}

.right{
  position: absolute;
  display: inline-block;
  /* border: 1px solid red; */
  width: 61.8%;
  height: 87vh;
  margin-left: 37%;
  border-radius: 6px;
  background-color: white;
  margin-bottom: -15.1%;
  
}

.right h1{
  font-family: "Roboto", sans-serif;
  padding-left: 5%;
  padding-top: 3%;
}

.right p{
  font-family: "Roboto", sans-serif;
  padding-left: 5%;
  padding-top: 1.5%;
}

.btn1{
  width: 90%;
  margin: auto;
  margin-left: 5%;
  margin-top: 3%;
  padding: 1% 0%;
  border-radius: 8px; 
  background-color: white;
  color: rgba(137, 43, 226, 0.767);
  font-weight: bold;
  border: 2px solid rgba(137, 43, 226, 0.767);
  text-shadow: 1px 0 1px;
}

.link1{
  /* border: 1px solid red; */
  background-color: rgba(211, 211, 211, 0.5);
  margin: 2% 5%;
  height: 26%;
  border-radius: 8px;
}

.link1 span{
  padding-left: 82%;
  font-weight: lighter;
}
.link1 p{
  padding-left: 2%;
  color: rgb(114, 112, 112);
  font-weight: bold;
}

.label1{
  margin-left: 2%;
  display: block;
  margin-top: 1%;
  font-size: 14px;
  color: rgb(114, 112, 112);
  /* border: 1px solid red; */
}
.select{
  width: 95%;
  margin-left: 2%;
  margin-top: -2%;
  display: block;
  height: 20%;
  border-radius: 8px;
  border: 1px solid rgb(114, 112, 112);
}

.label2{
  margin-left: 2%;
  display: block;
  margin-top: 1%;
  font-size: 14px;
  color: rgb(114, 112, 112);
}

#label2{
  width: 95%;
  margin-left: 2%;
  margin-top: -2%;
  display: block;
  height: 20%;
  border-radius: 8px;
  border: 1px solid rgb(114, 112, 112);
}


.btn2{
  margin-left: 88%;
  margin-top: 3%;
  padding: 1% 2%;
  border-radius: 8px;
  background-color: blueviolet;
  border-color: blueviolet;
  color: white;

}

.btn2:hover{
  transform: scale(1.1);
}





/* .btn1{
  width: 90%;
  margin: auto;
  margin-left: 5%;
  margin-top: 3%;
  padding: 1% 0%;
  border-radius: 8px; 
  background-color: white;
  color: rgba(137, 43, 226, 0.767);
  font-weight: bold;
  border: 2px solid rgba(137, 43, 226, 0.767);
  text-shadow: 1px 0 1px;
} */